body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: normal;
    margin: 0px;
}

header, .intro, footer {
    background-color: #1F2936;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

h1 {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
    margin: 0;
    margin-bottom: 1px;
}

.header-nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
}

.header-link, .description {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    font-weight: 100;
}

#header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
    align-items: flex-start;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.boximage {
    border-radius: 10%;
    border: 4px solid #3882f6;
    width: 200px;
    height: 200px;
}

.testimonial {
    background-color: #E5E7EB;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
    color: #1F2937;
}

.author {
    font-weight: 1000;
    margin-top: 10px;
    align-self:last baseline
    
}

.cta {
    background-color: #3882f6;
    border-radius: 1%;
    border: 4px solid #3882f6;
    color: white;
    margin: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p {
    padding: 0;
    margin: 0;
    gap: 0;
}

.signup {
    font-weight: 100;
}

button {
    color: white;
    background-color: #3882f6;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 0px;
    margin-top: 10px;
}

#button-cta {
    border: 2px solid white;
}

footer {
    color: white;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.left {
    width: 400px;
}

#intro-image {
    width: 400px;
    height: 200px;
    border-radius: 1%;
    border: 4px solid #E5E7EB;
}

.random-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtext {
    width: 200px;
    text-align: center;
}

footer {
    padding: 10px;
    text-align: center;
}